<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instabill - Create Buyer</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/add.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}"><div class="logo">Instabill</div></a>
        <a href="{% url 'logout_page' %}"><button class="logout-btn">Logout</button></a>
    </div>

    <div class="container">
        <h2>Create Buyer</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="gst">GSTIN:</label>
                <input type="text" id="gst" name="gst" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone No.:</label>
                <input type="text" id="phone" name="phone" required>
            </div>
            <div class="form-group">
                <label for="add">Address</label>
                <input type="text" id="add" name="add" required>
            </div>
            <div class="form-group">
                <label for="city">City: </label>
                <input type="text" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="state">State: </label>
                <select name="state" required>
                    <option value="35-Andaman & Nicobar Islands">Andaman & Nicobar Islands</option>
                    <option value="37-Andhra Pradesh (New)">37-Andhra Pradesh (New)</option>
                    <option value="28-Andhra Pradesh (Old)">Andhra Pradesh (Old)</option>
                    <option value="12-Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="18-Assam">Assam</option>
                    <option value="10-Bihar">Bihar</option>
                    <option value="04-Chandigarh">Chandigarh</option>
                    <option value="22-Chhattisgarh">Chhattisgarh</option>
                    <option value="26-Dadra & Nagar Haveli">Dadra & Nagar Haveli</option>
                    <option value="25-Daman & Diu">Daman & Diu</option>
                    <option value="07-Delhi">Delhi</option>
                    <option value="30-Goa">Goa</option>
                    <option value="24-Gujarat">Gujarat</option>
                    <option value="06-Haryana">Haryana</option>
                    <option value="02-Himachal Pradesh">Himachal Pradesh</option>
                    <option value="01-Jammu & Kashmir">Jammu & Kashmir</option>
                    <option value="20-Jharkhand">Jharkhand</option>
                    <option value="29-Karnataka">Karnataka</option>
                    <option value="32-Kerala">Kerala</option>
                    <option value="31-Lakshadweep">Lakshadweep</option>
                    <option value="23-Madhya Pradesh">Madhya Pradesh</option>
                    <option value="27-Maharashtra">Maharashtra</option>
                    <option value="14-Manipur">Manipur</option>
                    <option value="17-Meghalaya">Meghalaya</option>
                    <option value="15-Mizoram">Mizoram</option>
                    <option value="13-Nagaland">Nagaland</option>
                    <option value="21-Odisha">Odisha</option>
                    <option value="34-Puducherry">Puducherry</option>
                    <option value="03-Punjab">Punjab</option>
                    <option value="08-Rajasthan">Rajasthan</option>
                    <option value="11-Sikkim">Sikkim</option>
                    <option value="33-Tamil Nadu">Tamil Nadu</option>
                    <option value="36-Telangana">Telangana</option>
                    <option value="16-Tripura">Tripura</option>
                    <option value="09-Uttar Pradesh">Uttar Pradesh</option>
                    <option value="05-Uttarakhand">Uttarakhand</option>
                    <option value="19-West Bengal">West Bengal</option>                    
                </select>
            </div>
            
            <div class="form-group">
                <label for="email">E-mail: </label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="bal">Opening Balance: </label>
                <input type="number" id="bal" name="bal" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
